<% layout('layouts/boilerplate') %>
    <div class="ui   grid">
        <div class="ui eleven wide column centered">
            <a class="ui green button" href="/expense">Back</a>
            <div class="ui raised segment">
                <form class="myFormValidate" action="/expense" method="POST">
                    <div class="ui  form">

                        <div class="field required">
                            <label for="expense">Expense</label>
                            <input type="text" id="expense" name="expense[expense]" placeholder="Expense">
                        </div>
                    <div class="ui form">
                        <div class="field  required">
                            <label for="name">Crop</label>
                            <select name="expense[name]" id="name" class="ui search dropdown">
                                <option value="">Select Crop</option>
                                <% for(let crops of crop) {%>
                                    <option value="<%= crops.crop %> ">
                                        <%= crops.crop %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                    </div>
                        <div class="field required">
                            <label for="amount">Amount</label>
                            <input type="number" id="amount" name="expense[amount]" placeholder="Amount">
                        </div>
                        <div class="field required">
                            <label for="date">Date</label>
                            <input type="date" id="date" name="expense[date]" placeholder="Date">
                        </div>
                        <div class="ui form">
                            <div class="field required">
                                <label for="category">Category</label>
                                <select name="expense[category]" id="category" class="ui search dropdown">
                                    <option value="">Category</option>
                                    <option value="Fishery">Fishery</option>
                                    <option value="Poultry">Poultry</option>
                                    <option value="Pig">Pig</option>

                                    
                                </select>
                            </div>
                        </div>
                        <div class="field  required">
                            <label for="note">Note</label>
                            <textarea name="expense[note]" id="note" cols="30" rows="3"> </textarea>
                        </div>
                        <button class="ui button fluid green">Add</button>
                    </div>

                </form>

            </div>
        </div>
    </div>