<% layout('layouts/boilerplate') %>


<a class="button green ui" href="/field/new">Add a Task</a>
<% for(let field of fields){ %>
 <div class="ui green raised segment">
        <div class="ui  very relaxed styled unstackable items">
            <div class="item">
                <div class="middle aligned content">
                    <div class="header">
                    <%= field.name %>
                            <a href="/field/<%= field._id %>"><i
                                    class=" green caret square right outline float right icon"></i></a>
                    </div>
                    <div class="extra">
                        <%= field.size %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%} %>