<% layout('layouts/homepage')%>


    <div class="ui   grid">
        <div class="ui eleven wide column centered">
            <h1 class="ui huge header">Forgot password</h1>
            <div class="ui raised segment">
                <form class="regFormValidae" action="/user/forgot?_method=PUT" method="POST">
                    <div class="ui  form">
                    <div class="field required">
                            <label for="email">Email</label>
                            <input type="text" id="email"  name="email" placeholder="email">
                        </div>
                        <button class="ui button fluid btn">Submit</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>


   