

<% layout('layouts/boilerplate') %>
    <div class="ui   grid">
        <div class="ui eleven wide column centered">
            <a class="ui btn button" href="/cropevent">Back</a>
            <div class="ui raised segment">
                <form class="myFormValidate" action="/cropevent" method="POST">
                    <div class="ui  form">

                        <div class="field required">
                            <label for="event">Event</label>
                            <input type="text" id="event" name="event[event]" placeholder="Event Name">
                        </div>
                        <div class="ui form">
                            <div class="field  required">
                                <label for="name">Crop</label>
                                <select name="event[name]" id="name" class="ui search dropdown">
                                    <option value="">Select Crop</option>
                                    <% for(let crops of crop) {%>
                                        <option value="<%= crops.crop %> ">
                                            <%= crops.crop %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="field required">
                            <label for="date">Date</label>
                            <input type="date" id="date" name="event[date]" placeholder="Date">
                        </div>
                        <div class="ui form">
                            <div class="field">
                                <label for="leader">Lead by</label>
                                <select name="event[leader]" id="leader" class="ui search dropdown">
                                    <option value="">Select Leader</option>
                                       
                                    <% for(let leader of user){ %>
                                        <option value="<%= leader.fname %> ">
                                            <%= leader.fname %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="field  required">
                            <label for="note">Remark</label>
                            <textarea name="event[note]" id="note" cols="30" rows="3"> </textarea>
                        </div>
                        <button class="ui button fluid btn">Add</button>
                    </div>

                </form>

            </div>
        </div>
    </div>







    