<% layout('layouts/boilerplate') %>
<div class="ui grid">
  <div class="ui eleven wide column centered">
    <a class="ui btn button" href="/event">Back</a>
    <div class="ui raised segment">
      <form class="myFormValidate" action="/event" method="POST">
        <div class="ui form">
          <div class="field required">
            <label for="event">Event</label>
            <input
              type="text"
              id="event"
              name="event[event]"
              placeholder="Event Name"
            />
          </div>
          <div class="field required">
            <label for="name">Animal</label>
            <select name="event[name]" id="name" class="ui dropdown search">
              <option value="">Select Name</option>
              <option value="Chicken">Chicken</option>
              <option value="Turkey">Turkey</option>
              <option value="Ostrich">Ostrich</option>
              <option value="Guinea Fowl">Guinea Fowl</option>
               <option value="Pig">Pig</option>
              <option value="Catfish">CatFish</option>
              <option value="Cattle">Cattle</option>
              <option value="Sheep">Sheep</option>
              <option value="Goat">Goat</option>
              <option value="Rabbit">Rabbit</option>
              <option value="Snail">Snail</option>
              <option value="Grasscutter">Grasscutter</option>
              <option value="Horse">Horse</option>
              <option value="Donkey">Donkey</option>
              <option value="Guinea Pig">Guinea Pig</option>
            </select>
          </div>
          <div class="field required">
            <label for="date">Date</label>
            <input
              type="date"
              id="date"
              name="event[date]"
              placeholder="Date"
            />
          </div>
          <div class="ui form">
            <div class="field required">
              <label for="leader">Lead by</label>
              <select
                name="event[leader]"
                id="leader"
                class="ui search dropdown"
              >
                <option value="">Select Leader</option>

                <% for(let leader of user){ %>
                <option value="<%= leader.fname %>"><%= leader.fname %></option>
                <% } %>
              </select>
            </div>
          </div>
          <div class="field required">
            <label for="note">Remark</label>
            <textarea name="event[note]" id="note" cols="30" rows="3"></textarea>
          </div>
          <button class="ui button fluid btn">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
